<!-- 公共javascript -->
<!-- BEGIN CORE PLUGINS -->
<script src="./templates/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="./templates/media/layer/layer.js" type="text/javascript"></script>
<script src="./templates/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="./templates/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
<script src="./templates/media/js/bootstrap.min.js" type="text/javascript"></script>
<!--<script src="./js/date.js" type="text/javascript"></script>-->
<!--[if lt IE 9]>
<script src="./templates/media/js/excanvas.min.js"></script>
<script src="./templates/media/js/respond.min.js"></script>  
<![endif]-->   
<script src="./templates/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="./templates/media/js/jquery.blockui.min.js" type="text/javascript"></script>  
<script src="./templates/media/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="./templates/media/js/jquery.uniform.min.js" type="text/javascript" ></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="./templates/media/js/app.js" type="text/javascript"></script>
<script src="./templates/media/jedate/jedate.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->  
<script>jQuery(document).ready(function() {       App.init(); 	});</script>