<link href="./templates/media/image/jamxio.ico" rel="shortcut icon" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="./templates/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="./templates/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="./templates/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="./templates/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="./templates/media/css/style.css" rel="stylesheet" type="text/css"/>
<link href="./templates/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="./templates/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="./templates/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="./templates/media/css/update.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->